@media (max-width: 80rem){
  .vmf-img-text {
    max-width: 20rem;
  }
}

@media (max-width: 60rem){
  .vmf-img-text{
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 50rem;
    left: 0;
    top: 0;
  }

  .vmf-img-box {
    background-color: #f1f1f1;
  }
}

@media (max-width: 62.5rem){

  #topBar {
    padding: 0 0;
    flex-direction: column;
  }
/*
  nav h1 {
    display: none;
  } */

  .nav-link {
    display: none;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  nav {
    align-items: baseline;
  }

  nav a.icon {
    float: right;
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .myNav.responsive {
    position: relative;
  }

  .myNav.responsive .icon {
    position: absolute;
    /* right: 1rem;
    top: 1rem; */
  }

  .myNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .become-column {
    flex-direction: column;
  }

  .flex-half-right, .flex-half-left {
    padding: 0 0.75rem;
  }

  footer {
    padding: 3rem 15%;
  }

  .content-box, .content-box-wide {
    padding: 1rem;
  }

  .spacer-small-horizontal {
    height: 1rem;
  }

  .spacer-horizontal {
    height: 2rem;
  }

  .spacer-large-horizontal {
    height: 2rem;
  }

}

@media (max-width: 45rem){

  .intro {
    height: auto;
  }

  .arrow {
    display: none;
  }

  .bottom-margin-6rem {
    margin-bottom: 0;
  }

  .top-margin-6rem{
    margin-top: 0;
  }

  .flex-half-right, .flex-half-left {
    padding: 0 0.75rem;
  }

  .paragraph {
    padding: 0;
  }

  .subtitle {
    margin: 1rem;
    padding: 0;
  }

  .side-padding {
    padding: 1rem;
  }

  .project-title{
    font-size: 2.5rem;
  }

  section {
    padding: 0.5rem;
  }

  .big-text {
    font-size: 2rem;
  }

  .sticky {
    position: relative;
  }

  .flex-offset-top, .flex-offset-bottom {
     margin:1rem;
  }

  .flex-home-offset {
    margin: 0;
  }
}
