@media (max-width: 80rem){
  .vmf-img-text {
    max-width: 20rem;
  }
}

@media (max-width: 60rem){
  .vmf-img-text{
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 50rem;
    left: 0;
    top: 0;
  }

  .vmf-img-box {
    background-color: #f1f1f1;
  }


}

@media (max-width: 62.5rem){

  .col1of3 {
    margin: 0 1rem;
    max-width: 40rem;
    flex: 1 1 auto;
  }

  .become-column {
    flex-direction: column;
    margin: 1rem;
  }

  .project, .project-two {
    /* padding-bottom: 3rem; */
  }

  .flex-half-right, .flex-half-left {
    padding: 0 0.75rem;
  }

  footer {
    padding: 3rem 15%;
  }

  .content-box, .content-box-wide {
    padding: 1rem;
  }

  .spacer-small-horizontal {
    height: 1rem;
  }

  .spacer-horizontal {
    height: 2rem;
  }

  .spacer-large-horizontal {
    height: 3rem;
  }

}

@media (max-width: 45rem){

  .intro {
    height: auto;
  }

  .arrow {
    display: none;
  }

  .bottom-margin-6rem {
    margin-bottom: 0;
  }

  .top-margin-6rem{
    margin-top: 0;
  }

  .flex-half-right, .flex-half-left {
    padding: 0 0.75rem;
  }

  .paragraph {
    margin: 1rem;
    padding: 0;
  }

  .subtitle {
    margin: 1rem;
    padding: 0;
  }

  .side-padding {
    padding: 1rem;
  }

  .project-title{
    font-size: 2.5rem;
  }

  section {
    padding: 0.5rem;
  }

  .big-text {
    font-size: 2rem;
  }

  .sticky {
    position: relative;
  }

  .become-column-home {
    flex-direction: column;
  }

  .flex-offset-top, .flex-offset-bottom {
     margin:1rem;
  }

  .flex-home-offset {
    margin: 0;
  }
}
