@charset "UTF-8";
@import 'text.css';
@import 'links.css';
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Mada", sans-serif;
  letter-spacing: 0.01rem;
}

body {
  margin: auto;
  background-color: #F6F7F9;
}

nav {
  background-color: #F6F7F9;
  padding: 0rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-bottom: #F6F7F9 2px solid;
}

nav .icon {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 99;
}

.case-study {
  background-color: #803F74;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15rem;
}

main {
  min-height: 70vh;
}

footer {
  background-color: #2B2B2B;
  padding: 3rem 25%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

.footer-header {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: 0.15rem;
}

.footer-header::after {
  content: " ―";
}

.footer-bottom-centered {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.chip {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 0.85rem;
  color: #7FC286;
  border: #7FC286 2px solid;
  font-weight: 600;
  max-width: 4.5rem;
  text-align: center;
  margin-right: 0.5rem;
}

.project {
  /* box-shadow: 0.5rem 0.5rem #2B2B2B; */
  border: #2B2B2B 3px solid;
  margin-top: 2rem;
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
  background-color: white;
  text-decoration: none;
}

.project:hover {
  -webkit-transform: translate3d(-0.5rem, -0.5rem, 0);
          transform: translate3d(-0.5rem, -0.5rem, 0);
  -webkit-box-shadow: 0.5rem 0.5rem #2B2B2B;
          box-shadow: 0.5rem 0.5rem #2B2B2B;
  -webkit-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.img-header {
  width: 100%;
  /* height: 100%; */
  /* padding: 0 3rem; */
}

/* Flexbox */
.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1rem;
}

.flex-centered {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-half {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  margin: 0 2rem 0 0;
}

.flex-half-home {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  margin: 2rem 4rem 0 0;
}

.flex-home-offset {
  margin-top: -5rem;
}

.flex-offset-top {
  margin-top: 8rem;
}

.flex-offset-bottom {
  margin-bottom: 6rem;
}

.flex-third {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  margin-right: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-twothird {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  margin-right: 1rem;
}

.flex-top-align {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.become-column {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flexbox section {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 1rem;
  padding-bottom: 2rem;
  border-top: 2px solid rgb(50, 50, 50);
}

.home section {
  border: none;
  margin: 0;
}

.img-artefact {
  max-width: 40rem;
  margin: auto;
}

.about-page {
  max-width: 60rem;
  margin-top: 30%;
  margin: auto;
}

.content-box {
  max-width: 50rem;
  margin: auto;
}

.content-box-narrow {
  max-width: 35rem;
  margin: auto;
}

.content-box-wide {
  max-width: 60rem;
  margin: auto;
}

.flex-image {
  z-index: -1;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  /* grow shrink basis PIXELS FOR IMAGES*/
}

/* Classes purely for styling/formating */
.hidden {
  display: none;
}

.inline {
  display: inline;
}

strong {
  font-weight: bold;
}

.margin-left {
  margin-left: 5rem;
}

.no-decoration {
  text-decoration: none;
}

.home-page {
  width: 100%;
  /* background-color: white; */
}

.accent-colour {
  color: rgb(62, 181, 149);
}

.accent-background {
  background-color: rgb(62, 181, 149);
}

.side-padding {
  padding: 2rem 5rem;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0.25rem;
}

.gray-background {
  background-color: #f1f1f1;
}

.bold {
  font-weight: 700;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  /* margin: 2rem; */
  -webkit-box-shadow: 5px 5px #DBDBDB;
          box-shadow: 5px 5px #DBDBDB;
  border: #DBDBDB 3px solid;
}

.splash {
  position: relative;
}

.spacer-mini-horizontal {
  height: 1rem;
}

.spacer-small-horizontal {
  height: 2rem;
}

.spacer-horizontal {
  height: 3rem;
}

.spacer-large-horizontal {
  height: 7rem;
}

@media (max-width: 80rem) {
  .vmf-img-text {
    max-width: 20rem;
  }
}
@media (max-width: 60rem) {
  .vmf-img-text {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 50rem;
    left: 0;
    top: 0;
  }

  .vmf-img-box {
    background-color: #f1f1f1;
  }
}
@media (max-width: 62.5rem) {
  .splash {
    position: static;
  }

  .splash-header {
    position: static;
    color: #4d4d4d;
    font-size: 1.5rem;
  }

  #topBar {
    padding: 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .nav-link {
    display: none;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  nav {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }

  nav a.icon {
    float: right;
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .myNav.responsive {
    position: relative;
  }

  .myNav.responsive .icon {
    position: absolute;
    /* right: 1rem;
    top: 1rem; */
  }

  .myNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .become-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .flex-half-right, .flex-half-left {
    padding: 0 0.75rem;
  }

  footer {
    padding: 3rem 15%;
  }

  .content-box, .content-box-wide {
    padding: 1rem;
  }

  .spacer-small-horizontal {
    height: 1rem;
  }

  .spacer-horizontal {
    height: 2rem;
  }

  .spacer-large-horizontal {
    height: 2rem;
  }
}
@media (max-width: 45rem) {
  .intro {
    height: auto;
  }

  .arrow {
    display: none;
  }

  .bottom-margin-6rem {
    margin-bottom: 0;
  }

  .top-margin-6rem {
    margin-top: 0;
  }

  .flex-half-right, .flex-half-left {
    padding: 0 0.75rem;
  }

  .paragraph {
    padding: 0;
  }

  .subtitle {
    margin: 1rem;
    padding: 0;
  }

  .side-padding {
    padding: 1rem;
  }

  .project-title {
    font-size: 2.5rem;
  }

  section {
    padding: 0.5rem;
  }

  .big-text {
    font-size: 2rem;
  }

  .sticky {
    position: relative;
  }

  .flex-offset-top, .flex-offset-bottom {
    margin: 1rem;
  }

  .flex-home-offset {
    margin: 0;
  }
}