/* Navigation Bar */

:root {
  --main-accent-color: #4F60FF;
  --hover-accent-color: #9CA6FF;
  --main-grey-accent: rgba(0,0,0,0.6);
}

.nav-link {
  color: var(--main-accent-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.home-link {
  color: var(--main-accent-color);
  text-decoration: none;
  padding: 1rem 0rem;
  font-size: 1rem;
  font-weight: 900;
}

.active {
  border-bottom: 2px solid rgb(232, 118, 118);
}

.nav-link:hover, .nav-link:focus, .home-link:hover, .home-link:focus, .case-nav-link:hover, .case-nav-link:focus, .nav-button:hover, .nav-button:focus {
  color: var(--main-accent-color);
}

/* In-text Links */

.intext-link {
  color: var(--main-accent-color);
  text-decoration: none;
  font-weight: 500;
}

.intext-link:hover, .intext-link:focus {
  color: white;
  background-color: var(--main-accent-color);
}

/* CTA Buttons */

.cta-button {
  color: white;
  text-decoration: none;
  font-weight: 500;
  background-color: black;
  padding: 4px 16px 6px 16px;
  width: 180px;
  font-size: 16px;
  transition: all 0.25s ease;
}

.cta-button:hover{
    background-color: var(--main-grey-accent);
}

.image-link {
  border: #DBDBDB 3px solid;
  margin-top: 2rem;
  transition: all 0.25s ease;
  background-color: white;
  text-decoration: none;
}

.image-link:hover {
  border: #2B2B2B 3px solid;
}
