/* Navigation Bar */

:root {
  --main-accent-color: #4F60FF;
  --secondary-accent-color: #9CA6FF;
  --main-grey-accent: rgba(0,0,0,0.6);
}

.nav-link {
  color: var(--main-accent-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.home-link {
  color: var(--main-accent-color);
  text-decoration: none;
  padding: 1rem 0rem;
  font-size: 1rem;
  font-weight: 900;
}

.project-link {
  color: #000;
  text-decoration: none;
  font-weight: 900;
  font-size: 30px;
  margin-top: 0;
}

.project-link:hover{
  color: #6d6d6d;
}

.active {
  border-bottom: 2px solid rgb(232, 118, 118);
}

.nav-link:hover, .nav-link:focus, .home-link:hover, .home-link:focus, .case-nav-link:hover, .case-nav-link:focus, .nav-button:hover, .nav-button:focus {
  color: var(--secondary-accent-color);
}

/* In-text Links */

.intext-link {
  color: var(--main-accent-color);
  text-decoration: none;
  font-weight: 500;
}

.intext-link:hover, .intext-link:focus {
  color: white;
  background-color: var(--main-accent-color);
}

/* CTA Buttons */

.cta-button {
  color: white;
  text-decoration: none;
  font-weight: 500;
  background-color: var(--main-accent-color);
  padding: 6px 24px 8px 24px;
  font-size: 14px;
  transition: all 0.25s ease;
  border-radius: 5px;
}

.cta-button:hover{
  background-color: #4f61ffc5;
}

.image-link {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.image-link:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}
