/* Navigation Bar */

.nav-link {
  color: #6A75D4;
  text-decoration: none;
  padding: 1rem 1rem;
  font-size: 1rem;
}

.active {
  border-bottom: 2px solid rgb(232, 118, 118);
}

.nav-link:hover, .nav-link:focus, .case-nav-link:hover, .case-nav-link:focus, .nav-button:hover, .nav-button:focus {
  color: #BEA6D3;
}

/* In-text Links */

.intext-link {
  color: #6A75D4;
  text-decoration: none;
}

.intext-link:hover, .intext-link:focus {
  color: #BEA6D3;
}

/* CTA Buttons */

.cta-button {
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 0.75rem;
  color: white;
  background-color: #6A75D4;
  font-weight: 700;
  transition: all 0.25s ease;
}

.cta-button:hover{
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 0.75rem;
  color: white;
  background-color: #BEA6D3;
  font-weight: 700;
  transition: all 0.25s ease;
}
