* {
  font-family: 'Mada', sans-serif;
  letter-spacing: 0.01rem;
}

body {
  margin: auto;
  background-color: #F6F7F9;
}

header {
  background-color: #F6F7F9;
  padding: 2rem 15rem;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
}

.case-study {
  background-color:#803F74;
  justify-content: space-between;
  padding: 0 15rem;
}

h1 {
  margin-bottom: 0.5rem;
}

main {
  min-height: 70vh;
}

footer {
  background-color: #2B2B2B;
  padding: 3rem 25%;
  justify-content:space-around;
  margin-top: 5rem;
  display: flex;
}

.footer-section {
  display: flex;
}

.footer-list {
  margin-top: 0;
  padding: 0;
  margin-left: 2rem;
  list-style-type: none;
  flex: 1 1 auto;
}

.footer-list-item {
  color: white;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  /* font-family: 'Roboto', 'Rubik', sans-serif; */
  font-weight: 100;
}

.footer-header{
  color: rgba(255,255,255,0.8);
  font-size: 0.75rem;
  flex: 1 1 auto;
  margin-top: 0.15rem;
}

.footer-header::after{
  content: " ―"
}

.footer-bottom-centered {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-link {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.footer-link:hover{
  color: rgba(255,255,255,0.5);
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
}

/* Headers */

.blurb-header {
  font-size: 1rem;
  font-weight: 600;
  color: #4d4d4d;
}

.paragraph-header{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #4d4d4d;
}

.project-title {
  font-size: 2.75rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #2B2B2B;
  font-weight: 700;
}

.project-subheader {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #4d4d4d;
}

.img-header {
  width: 100%;
  padding: 0;
}

/* Flexbox */

.flexbox {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
}

.flex-section {
  flex: 1 1 40%;
  align-self: center;
  margin: 1rem;
}

.flex-centered {
  align-items: center;
}

.flex-half {
  flex: 1 1 40%;
  margin: 0 2rem 0 0;
}

.flex-third {
  flex: 1 1 20%;
  margin: 0.75rem;
  align-items: center;
}

.flex-twothird {
  flex: 1 1 70%;
  margin-right: 1rem;
}

.flex-top-align {
  align-items: flex-start;
}

.become-column {
  flex-direction: row;
}

.flexbox section {
  flex: 1 1 auto;
  margin: 1rem;
  padding-bottom: 2rem;
  border-top: 2px solid rgb(50,50,50);
}

.home section {
  border: none;
  margin: 0;
}

/* Interactive Elements */

.nav-link {
  color: #6A75D4;
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
}

.active {
  border-bottom: 2px solid rgb(232, 118, 118);
}

.nav-link:hover, .nav-link:focus, .case-nav-link:hover, .case-nav-link:focus, .nav-button:hover, .nav-button:focus {
  color: #BEA6D3;
}

.intext-link {
  color: #6A75D4;
  text-decoration: none;
}

.intext-link:hover, .intext-link:focus {
  color: #BEA6D3;
}

.img-artefact {
  max-width: 40rem;
  margin: auto;
}

.about-page {
  max-width: 60rem;
  margin-top: 30%;
  margin: auto;
}

.content-box{
  max-width: 45rem;
  margin-top: 30%;
  margin: auto;
}

.content-box-narrow {
  max-width: 35rem;
  margin: auto;
}

.content-box-wide {
  max-width: 50rem;
  margin: auto;
}

.flex-image {
  z-index: -1;
  flex: 1 1 300px; /* grow shrink basis PIXELS FOR IMAGES*/
}

/* Classes purely for styling/formating */

.hidden {
  display: none;
}

.inline {
  display: inline;
}

.inline-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.inline-list li {
  display: inline;
}

.inline-list li::after {
  content: ",";
}

.inline-list li:last-of-type::after {
  content: "";
}

.list {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-family: 'Mada', sans-serif;
  color: #6A75D4;
  margin-top: 0;
  font-weight: 400;
  text-decoration: none;
  padding: 1rem 4rem;
}

.list li {
  padding: 0.5rem;
}

strong {
  font-weight:bold;
}

.additional-bottom-margin {
  margin-bottom: 2rem;
}

.top-margin-medium{
  margin-top: 6rem;
}

.top-margin-large {
  margin-top: 10rem;
}

.bottom-margin-medium {
  margin-bottom: 6rem;
}

.margin-left {
  margin-left: 5rem;
}

.blurb-text {
  font-size: 1rem;
  line-height: 1.25rem;
  font-family: 'Mada', sans-serif;
  color: rgba(0,0,0,0.5);
  margin-top: 0;
  font-weight: 500;
}

.paragraph {
  font-size: 1.15rem;
  line-height: 1.5rem;
  font-family: 'Mada', sans-serif;
  color: rgba(0,0,0,0.5);
  margin-top: 0;
  font-weight: 500;
}

.quote {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-family: 'Mada', sans-serif;
  color: #6A75D4;
  margin-top: 0;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  padding: 1rem 4rem;
}

.contact-text{
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 5rem;
  color: #4d4d4d;
}

.stay-tuned {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgba(0,0,0,0.4);
}

.no-decoration {
  text-decoration: none;
}

.home-page {
  width: 100%;
  /* background-color: white; */
}

.accent-colour {
  color: rgb(62,181,149);
}

.accent-background {
  background-color: rgb(62,181,149);
}

.gray-text {
  color: rgb(170, 170, 170);
}

.side-padding {
  padding: 2rem 5rem;
}

.top-margin {
  margin: 2rem 0;
}

.space {
  height: 5rem;
}

.narrow {
  max-width: 30rem;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0.25rem;
}

.gray-background {
  background-color: #f1f1f1;
}

.border-bottom {
  border-bottom: 1px solid rgb(200,200,200);
}

.shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

.blur {
	-webkit-filter: blur(5px);
	filter: blur(5px); /* filter: type of filter (blur 5 px)*/
}

.blur.lazyloaded {
	-webkit-filter: blur(0);
	filter: blur(0);
}

.bold {
  font-weight: 700;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.back-to-top {
  display:none;
  position: fixed;
  bottom: 2em;
  right: 2rem;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #63C161;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 2rem;
}

.back-to-top:hover, .back-to-top:focus {
  background-color: rgba(0,0,0,0.8);
  text-decoration:none; color:#ffffff;
  cursor: pointer;
}
