html {
  scroll-behavior: smooth;
  }

* {
  font-family: 'Mada', sans-serif;
  letter-spacing: 0.01rem;
}

body {
  margin: auto;
  background-color: #F6F7F9;
}

nav {
  background-color: #F6F7F9;
  padding: 0rem 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  align-self: flex-start;
  border-bottom: #F6F7F9 2px solid;
}

nav .icon {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 99;
}

.case-study {
  background-color:#803F74;
  justify-content: space-between;
  padding: 0 15rem;
}

main {
  min-height: 70vh;
}

footer {
  background-color: #2B2B2B;
  padding: 3rem 25%;
  justify-content:space-around;
  margin-top: 5rem;
  display: flex;
}

.footer-section {
  display: flex;
  margin-right: 1rem;
}

.footer-header{
  color: rgba(255,255,255,0.8);
  font-size: 0.75rem;
  flex: 1 1 auto;
  margin-top: 0.15rem;
}

.footer-header::after{
  content: " ―"
}

.footer-bottom-centered {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chip {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 0.85rem;
  color: #7FC286;
  border: #7FC286 2px solid;
  font-weight: 600;
  max-width: 4.5rem;
  text-align: center;
  margin-right: 0.5rem;
}

.project {
  box-shadow: 0rem 0 1rem #D9D9D9;
  /* border: #2B2B2B 3px solid; */
  margin-top: 2rem;
  transition: all 0.45s ease;
  background-color: white;
  text-decoration: none;
}

.project:hover{
  transform: translate3d(-0.5rem, -0.5rem, 0);
  /* box-shadow: 0.5rem 0.5rem #2B2B2B; */
  transition: all 0.45s ease;
}

.img-header {
  width: 100%;
  /* height: 100%; */
  /* padding: 0 3rem; */
}

/* Flexbox */

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.flex-section {
  flex: 1 1 40%;
  align-self: center;
  margin: 1rem;
}

.flex-centered {
  align-items: center;
}

.flex-half {
  flex: 1 1 40%;
  margin: 0 2rem 0 0;
}

.flex-half-home {
  flex: 1 1 35%;
  margin: 2rem 4rem 0 0;
}

.flex-home-offset {
  margin-top: -5rem;
}

.flex-offset-top {
   margin-top:8rem;
}

.flex-offset-bottom {
   margin-bottom:6rem;
}

.flex-third {
  flex: 1 1 20%;
  margin-right: 3rem;
  align-items: center;
}

.flex-twothird {
  flex: 1 1 60%;
  margin-right: 1rem;
}

.flex-top-align {
  align-items: flex-start;
}

.become-column {
  flex-direction: row;
}

.flexbox section {
  flex: 1 1 auto;
  margin: 1rem;
  padding-bottom: 2rem;
  border-top: 2px solid rgb(50,50,50);
}

.home section {
  border: none;
  margin: 0;
}


.img-artefact {
  max-width: 40rem;
  margin: auto;
}

.about-page {
  max-width: 60rem;
  margin-top: 30%;
  margin: auto;
}

.content-box{
  max-width: 50rem;
  margin: auto;
}

.content-box-narrow {
  max-width: 35rem;
  margin: auto;
}

.content-box-wide {
  max-width: 60rem;
  margin: auto;
}

.flex-image {
  z-index: -1;
  flex: 1 1 300px; /* grow shrink basis PIXELS FOR IMAGES*/
}

/* Classes purely for styling/formating */

.hidden {
  display: none;
}

.inline {
  display: inline;
}

strong {
  font-weight:bold;
}

.margin-left {
  margin-left: 5rem;
}

.no-decoration {
  text-decoration: none;
}

.home-page {
  width: 100%;
  /* background-color: white; */
}

.accent-colour {
  color: rgb(62,181,149);
}

.accent-background {
  background-color: rgb(62,181,149);
}

.side-padding {
  padding: 2rem 5rem;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0.25rem;
}

.gray-background {
  background-color: #f1f1f1;
}

.bold {
  font-weight: 700;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  /* margin: 2rem; */
  box-shadow: 5px 5px #DBDBDB;
  border: #DBDBDB 3px solid;
}

.splash {
  position: relative;
}
