:root {
  /* --main-accent-color: #4F60FF;
  --secondary-accent-color: #9CA6FF; */
  --main-accent-color: #4F60FF;
  --secondary-accent-color: #9CA6FF;
  --main-grey-accent: rgba(0,0,0,0.6);
}

html {
  scroll-behavior: smooth;
  }

* {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 18px;
}

body {
  margin: auto;
}

.narrow-section {
  padding: 0 10%;
  margin: auto;
}

nav {
  background-color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  align-self: flex-start;
  padding: 0 10%;
  margin: auto;
}

.myNav {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  z-index: 99;
}

.case-study {
  background-color:#803F74;
  justify-content: space-between;
  padding: 0 15rem;
}

main {
  min-height: 70vh;
}

footer {
  justify-content:space-around;
  margin-top: 5rem;
  display: flex;
}

.footer-section {
  display: flex;
  margin-right: 1rem;
}

.footer-header{
  color: rgba(255,255,255,0.8);
  font-size: 0.75rem;
  flex: 1 1 auto;
  margin-top: 0.15rem;
}

.footer-header::after{
  content: " ―"
}

.footer-bottom-centered {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chip {
  padding: 0.5rem 0.75rem;
  text-decoration: none;
  border-radius: 2rem;
  font-size: 0.85rem;
  color: #7FC286;
  border: #7FC286 2px solid;
  font-weight: 600;
  max-width: 4.5rem;
  text-align: center;
  font-family: 'Mada', sans-serif;
  margin-right: 0.5rem;
}

#coming-soon {
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
  padding: 1rem;
}

.project-image {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8rem;
}

.img-header {
  flex: 1 1 450px;
  /* align-self: stretch; */
  box-shadow: 0rem 0 1rem #D9D9D9;

}

.project-desc {
  flex: 1 1 30%;
  align-self: center;
  padding: 4rem;
}

.img-artefact {
  box-shadow: 0rem 0 1rem #D9D9D9;
  width:100%;
}


.flex-twothird {
  flex: 1 0 60%;
}

.flex-onethird {
  flex: 1 0 30%;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.flexbox .flex-half {
  flex: 1 1 40%;
}


.card {
  flex: 1 1 100px;
  padding: 1.5rem;
  margin-bottom: 1rem;
}

/** PROJECT PAGES */

.project-banner {
  width: 100%;
  flex: 1 1 450px;
}
.project-title {
  color:white;
}

.project-intro {
  flex-wrap: wrap-reverse;
}