:root{
  --main-text: rgba(0,0,0,0.85);
  --secondary-text: rgba(255,255,255,0.85);
  --aquanow-color: #1166c829;
  --secondary-accent-color: #dadeff;
}
h1 {
  margin-bottom: 24px;
}

h3 {
  margin-bottom: 0;
}

h4 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  color: var(--main-text);
}

b {
  /* border-bottom: solid 3px var(--aquanow-color); */
  background-color: var(--secondary-accent-color);
  padding: 0 4px;
}

#intro-text {
  color: #000;
  font-size: 46px;
  font-weight: 900;
}

#intro-paragraph {
  color: #000;
  font-weight: 500;
}

.header {
  color: #000;
  font-size: 32px;
  font-weight: 900;
}

/* .header::after{
  content: " ―"
} */

.blurb-header {
  color: #000;
  font-weight: 900;
  font-size: 30px;
  margin-top: 0;
}

.blurb-text {
  color: #000;
  font-weight: 300;
  font-size: 18px;
}


.paragraph-header{
  font-weight: 900;
  margin-bottom: 0.75rem;
  margin-top: 0;
}

.half-paragraph-header {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  margin-top: 0;

}

.paragraph {
  color: var(--main-text);
  margin-top: 0;
  font-size: 18px;
}

.quote {
  font-size: 1.5rem;
  line-height: 1.75rem;
  color: #6A75D4;
  margin-top: 0;
  font-weight: 500;
  font-style: italic;
  text-decoration: none;
  padding: 1rem 4rem;
}

.stay-tuned {
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgba(0,0,0,0.4);
}

.team {
    font-size: 1.15rem;
    line-height: 2rem;
    color: rgba(0,0,0,0.4);
}

.project-intro {
  font-size: 20px;
  margin-top: 0;
  color: var(--secondary-text);
}

.project-title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--secondary-text);
  font-weight: 700;
}

.project-subheader {
  font-weight: 700;
  color: var(--secondary-text);
  margin: 0.5rem 0;
}

.project-subheader::after{
  content: " ―"
}

.project-role {
  color: var(--secondary-text);
  font-size: 16px;
}

.project-role li{
  list-style-type: "✔  ";
  font-size: 16px;
  margin: 24px 0;
  font-weight: 400;
}

.project-role li b {
  font-size: 16px;
}

.project-role li::marker {
  color: #71D988;
}


.inline-list {
	list-style-type: none;
	padding: 0;
	display: inline-block;
}

.inline-list li {
  display: inline;
}

.inline-list li::after {
  content: ",";
}

.inline-list li:last-of-type::after {
  content: "";
}

.list {
  font-size: 1rem;
  line-height: 1.65rem;
  margin-top: 0;
  font-weight: 400;
  text-decoration: none;
  padding: 1rem 4rem;
}

.list li {
  padding: 0.5rem;
}

.splash-header {
  font-size: 3.5rem;
  line-height: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #4d4d4d;
}
